@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<body>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light ">
        <div class="col-sm-5 p-sm-5 mx-auto my-5">
            <h1 class="display-4 text-center font-weight-bold">Integritetspolicy</h1>
            <p class="lead font-weight-lighter font-italic">FÖR DINA PERSONUPPGIFTER </p>
            <img class="mb-4" src="~/img/logo.png" alt="" width="250" height="250">
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-2 py-2">
                <h2 class="display-5">SYFTE</h2>
                <p class="lead">Syftet med vår Integritetspolicy är att berätta hur vi behandlar dina personuppgifter samt vad vi använder dem till. Vi beskriver också dina rättigheter och hur du kan göra dem gällande.</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 400px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">VAD ÄR EN PERSONUPPGIFT</h2>
                <p class="lead">En personuppgift är information som är möjlig att knyta till dig, t.ex. ditt namn, din e-post eller liknande.</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5"></h2>
                <p class="lead"></p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">DINA RÄTTIGHETER</h2>
                <p class="lead">
                    I enlighet med GDPR (EU:s dataskyddsförordning) så har du ett antal rättigheter avseende behandlingen av dina personuppgifter. Nedan har vi kort beskrivit vilka rättigheter du har. Du kan alltid vända dig till oss för att utöva dina rättigheter.

                    Rätt till registerutdrag. Detta innebär att du får tillgång till de personuppgifter som vi behandlar om dig.
                    Rätt till rättelse. Detta innebär att du kan begära att dina personuppgifter skall rättas i de fall uppgifterna är felaktiga.
                    Rätt att dra tillbaka medgivande. Detta innebär att du alltid har rätt att dra tillbaka ett medgivande du gett till oss. Ett exempel på detta kan vara att du inte längre vill få fler nyhetsbrev skickade till dig.
                    Rätt till radering. Detta innebär att du har rätt att begära radering av de personuppgifter som vi behandlar om dig. Tänk dock på att vi kan ha rätt att neka din begäran ifall det finns legala skyldigheter som hindrar oss från att radera vissa personuppgifter.
                    Rätt till begränsning av behandling. Detta innebär att du har rätt att begära att behandlingen av dina personuppgifter begränsas. Exempelvis i det fall där du bestrider uppgifternas korrekthet.
                    Rätt att invända mot behandling. Detta innebär att du har rätt att invända mot behandling som grundar sig på en intresseavvägning. Det kan dock finnas undantag för denna rättighet.
                    Du har rätt att invända mot att dina personuppgifter behandlas för marknadsförings-ändamål.
                    Du har rätt att inge klagomål. Detta innebär att du har rätt att lämna klagomål till tillsynsmyndigheten Datainspektionen (datainspektionen.se).
                    Rätt till dataportabilitet. Detta innebär att du har rätt att få ut dina personuppgifter i ett strukturerat, allmänt använt och maskinläsbart format för att sedan kunna överföra dessa till en annan personuppgiftsansvarig. Det kan ibland finnas tekniska begräsningar kring detta.
                </p>
            </div>
            <div class="bg-transparent box-shadow mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">AUTOMATISERADE BESLUT?</h2>
                <p class="lead">Vi fattar inga automatiserade beslut om dig.</p>
            </div>
            <img class="mb-4" src="~/img/logo.png" alt="" width="200" height="200">
            <div class="bg-white box-shadow mx-auto" style="width: auto; height: 0px; border-radius: 21px 21px 0 0;"></div>
        </div>

        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">MER FRÅGOR?</h2>
                <p class="lead">Det är alltid enkelt att komma i kontakt med oss.</p>
                <img class="mb-4" src="~/img/logo.png" alt="" width="200" height="200">
            </div>
            <div class="bg-white box-shadow mx-auto" style="width: auto; height: 0px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">COOKIE POLICY</h2>
                <img class="mb-4" src="~/img/CookiePic.png" alt="" width="250" height="250">
                <p class="lead"> Godkänner cookies vid fortsatt användande av vår webbplats.</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 150px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">TA BORT OCH NEKA COOKIES</h2>
                <p class="lead">Du kan själv på ett enkelt sätt välja om du vill acceptera kakor på din dator eller ej.</p>
            </div>
            <div class="bg-transparent border-success box-shadow mx-auto" style="width: 80%; height: 250px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>

    <footer class="container py-5">
        <div class="row">
           
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
</body>